#main-box {
	height: 90vh;
	width: 100%;
	background-color: rgb(127, 255, 212);
	display: flex;
	align-items: center;
}

#my-grid {
	background-color: blue;
}

#square-container {
	width: 80vw;
}

.square {
	height: 80px;
	width: calc(100% / 10);
	background-color: azure;
	border: 3px solid black;
	cursor: pointer;
	text-align: center;
	line-height: 80px;
}

.square.clicked {
	background-color: aqua;
}

.square > span {
	display: none;
}
.square.clicked > span {
	display: block;
}

/* .square.easy {
	height: calc(100% / 10);
	width: calc(100% / 10);
}

.square.medium {
	height: calc(100% / 9);
	width: calc(100% / 9);
}

.square.asian {
	height: calc(100% / 7);
	width: calc(100% / 7);
}
 */
