#main-box {
	height: 95vh;
	width: 100%;
	background-color: rgb(127, 255, 212);
	display: flex;
	align-items: center;
}

#my-grid {
	background-color: blue;
	/* 	height: 700px;
	width: 700px; */
}

#square-container {
	height: 75vh;
}

.square {
	height: calc(100% / 10);
	width: calc(100% / 10);
	background-color: azure;
	border: 3px solid black;
	cursor: grabbing;
	text-align: center;
}

.square.clicked {
	background-color: aqua;
}

.square > span {
	display: none;
}
.square.clicked > span {
	display: block;
}

.square.easy {
	height: calc(100% / 10);
	width: calc(100% / 10);
}

.square.medium {
	height: calc(100% / 9);
	width: calc(100% / 9);
}

.square.asian {
	height: calc(100% / 7);
	width: calc(100% / 7);
}
